<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Employee_final_project</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>signup.jsp</welcome-file>
    <welcome-file>Output.java</welcome-file>
    <welcome-file>insert.java</welcome-file>
    <welcome-file>delete.java</welcome-file>
    <welcome-file>delete.jsp</welcome-file>
    <welcome-file>edit.jsp</welcome-file>
    <welcome-file>edit.java</welcome-file>
   
  </welcome-file-list>
</web-app>